@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Teko:wght@300..700&family=Ysabeau+SC:wght@1..1000&display=swap');
.header {
    font-family: "Teko", sans-serif;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 1px; 
    backdrop-filter: blur(1.7px);
    -webkit-backdrop-filter: blur(4.7px);
    border: 1px solid rgba(0, 0, 0, 0);
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
}

.header h1 {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    margin-right: 29rem;
}

.header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header nav ul li {
    margin: 0 1rem;
    font-weight: 200;
}

.header nav ul li a {
    text-decoration: none;
    font-size: 1.8rem;
    color: #ffffffc8;
}

.header nav ul li a.wave-link:hover {
    color: #ffffff;
}
